<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bankapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BankApp">
        <activity
            android:name=".Transactions"
            android:exported="true"
            android:label="Transactions History"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Customers"
            android:exported="false"
            android:label="Customers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:parentActivityName=".MainActivity"/>

        <activity android:name=".CustomerData"
            android:parentActivityName=".Customers"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:label="Customer Details"/>

        <activity android:name=".sendMoney"
            android:screenOrientation="portrait"
            android:parentActivityName=".Customers"
            android:theme="@style/AppTheme"
            android:label="Transfer Money"/>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>